/* ChatboxStyles.css */

.chat-container {
    width: 100vw;
    margin: auto;
    background-color: #e6e6e6;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #000;
  }
  
  .welcome-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .welcome-image img{
    width: 120px;
    height: 120px;
    align-self: center;
    justify-self: center;
    background-color: #adff2f;
    margin-bottom: 15px;
    padding: 10px;
  }
  
  .capabilities-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .capability {
    background-color: #f2f2f2;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
  }
  
  .info-text {
    font-size: 12px;
    margin: 10px 0;
  }
 
  .start-chat-button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  .full-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .chat-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .chat-status {
    color: green;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .chat-window {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding: 10px;
    
  }
  
  .chat-message {
    max-width: 70%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .chat-message.user {
    background-color: #adff2f;
    align-self: flex-end;
    text-align: right;
    float: right;
  }
  
  .chat-message.bot {
    background-color: #f2f2f2;
    align-self: flex-start;
    text-align: left;
    margin-top: 5rem;
  }
  
  .input-container {
    display: flex;
    width: 100%;
    margin-top: 10px;
  }
  
  .chat-input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #000;
  }
  
  .send-button {
    background-color: black;
    color: white;
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  